@property --body-gradient-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

@property --body-gradient-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

:root {
  --primary-color-rgb: 255, 153, 0;
  --secondary-color-rgb: 225, 225, 225;

  --primary-bg-color-rgb: 255, 255, 240;
  --secondary-bg-color: 192, 192, 192;
  --text-color: black;

  --body-gradient-1: rgb(116, 113, 109);
  --body-gradient-2: rgb(207, 239, 247);

  --animation-duration: 800ms;

  --filmstrip-thumbnail-size: 48px;
}

/* default: no transitions on load */
.no-transition,
.no-transition *,
.no-transition *::before,
.no-transition *::after {
  transition: none !important;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--text-color);
  background: linear-gradient(
    to top left,
    var(--body-gradient-1),
    var(--body-gradient-2),
    var(--body-gradient-1)
  );
  transition:
    --body-gradient-1 var(--animation-duration),
    --body-gradient-2 var(--animation-duration),
    background-color var(--animation-duration),
    color var(--animation-duration);
}

img {
  user-select: none;
}

html.dark {
  --body-gradient-1: rgb(0, 102, 255);
  --body-gradient-2: rgb(30, 30, 30);

  --primary-color-rgb: 0, 103, 255;
  --secondary-color-rgb: 30, 30, 30;

  --primary-bg-color-rgb: 0, 0, 15;
  --secondary-bg-color: 63, 63, 63;
  --text-color: white;
}

main {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
