.modal {
  flex-direction: column;
}

.gallery-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.gallery-item {
  text-align: right;
  padding: 1rem;
}

.rounded-img {
  border-radius: 1vw 1vw 0 0;
}

.gallery-filmstrip {
  position: relative;
  max-width: min(80vw, 80vh);
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.smooth-scroll {
  scroll-behavior: smooth;
}

.filmstrip-thumb {
  height: 100%;
}

.filmstrip-thumb.active {
  border: 2px solid white;
  transform: scale(1.1);
  transition: transform var(--animation-duration) ease;
}
