.modal {
  flex-direction: column;
}

.gallery-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.gallery-item {
  text-align: right;
  padding: 1rem;
}

.rounded-img {
  border-radius: 1vw 1vw 0 0;
}

.gallery-filmstrip {
  position: relative;
  max-width: min(80vw, 80vh);
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.smooth-scroll {
  scroll-behavior: smooth;
}

.filmstrip-thumb {
  height: 100%;
  filter: grayscale(100%);
  opacity: 0.5;
  z-index: 9;
}

.filmstrip-thumb.active {
  transform: scale(1.05);
  filter: none;
  transition:
    transform var(--animation-duration) ease,
    filter var(--animation-duration) ease;
  outline: 1px solid silver;
  opacity: 1;
  z-index: 10;
}
