/* =========================
   NAV WRAPPER
========================= */

.nav-wrap {
  display: flex;
  align-items: stretch;
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: 10;
  padding-bottom: 0;
}

.nav-fixed {
  position: fixed;
  transform: translateY(-100%);
  transition: transform var(--animation-duration) ease;
}

.nav-show {
  transform: translateY(0);
}

.no-anim {
  transition: none !important;
}

/* =========================
   THEME TOGGLE
========================= */

#theme-toggle span {
  cursor: pointer;
}

.nav-left-gap,
.nav-center-gap,
.nav-center-gap::before,
.nav-center-gap::after,
.navbar {
  transition:
    background-color var(--animation-duration) ease,
    height var(--animation-duration);
}
/* =========================
   LISTS
========================= */

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: var(--menu-height);
  overflow: hidden;
  transition:
    height var(--animation-duration) ease,
    visibility var(--animation-duration) ease;
}

.nav-list:hover {
  height: var(--menu-height);
}

.sub-menu-wrap {
  position: relative;
  white-space: nowrap;
}

.sub-menu {
  list-style: none;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity var(--animation-duration),
    visibility 0s linear var(--animation-duration);
}

.sub-menu {
  position: absolute;
}

.menu-item.active .sub-menu {
  visibility: visible;
  opacity: 1;
  transition:
    opacity var(--animation-duration) ease,
    visibility 0s;
}
@media (max-width: 899px) {
  .nav-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: end;
  }
}

/* =========================
   LINKS
========================= */

.nav-list a,
#theme-toggle {
  position: relative;
  display: inline-block;
  margin: 14px 20px;
  text-decoration: none;
  color: var(--text-color);
  transition: color var(--animation-duration) ease;
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: white;

  transform: scaleX(0);
  transition: transform var(--animation-duration) ease;
}

.nav-list a::after {
  transform-origin: left;
}

.nav-list a:hover::after {
  transform: scaleX(1);
}

/* =========================
   GAPS
========================= */
.nav-left-gap {
  flex: 1 1 auto;
  background-color: rgba(var(--secondary-color-rgb), 0.75);
  height: var(--menu-height);
  transition:
    height var(--animation-duration) ease,
    background-color var(--animation-duration) ease;
}
.custom-logo {
  position: fixed;
  display: flex;
  height: 47px;
  width: unset;
}

.nav-center-gap {
  flex: 0 0 30px;
  width: 30px;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.nav-center-gap::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(var(--secondary-color-rgb), 0.75);
  clip-path: polygon(100% 0, 0 100%, -100% 0);
}
.nav-center-gap::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(var(--primary-color-rgb), 0.75);
  /* background-color: white; */
  clip-path: polygon(0% 100%, 100% 0%, 200% 100%);
}

/* =========================
   NAVBAR
========================= */

.nav-wrap {
}

#nav-width {
  width: 100%;
  border-bottom: 1px solid black;
  pointer-events: none;
  position: absolute;
  z-index: 100;
}

.navbar {
  position: relative;
  /* flex: 0 0 auto; */
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  background-color: rgba(var(--primary-color-rgb), 0.75);
}

/* =========================
   MICRO INTERACTIONS
========================= */

.nav-list a {
  transition:
    color var(--animation-duration) ease,
    transform 0.2s ease;
}

.nav-list a:hover {
  transform: translateY(-2px);
}
